.idea
.vscode
.DS_store
*.swp
*.rdb
*.log
yarn.lock
node_modules
build
artifacts
cache
webpack-stats.json
uploads
environment.sh
logs
npm-install.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
.env.json
Dockerrun.aws.json

TODO
abi
coverage/
coverage.json
